### Data Download
Download and unzip green trip data for 2019-10

In [ ]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-10.csv.gz
!gzip -d green_tripdata_2019-10.csv.gz
!mv green_tripdata_2019-10.csv downloads/green_tripdata_2019-10.csv

In [ ]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv
!mv taxi_zone_lookup.csv downloads/taxi_zone_lookup.csv

### Preview Data

In [3]:
import pandas as pd

In [4]:
 df = pd.read_csv('downloads/green_tripdata_2019-10.csv', nrows=100)

In [5]:
# Convert datetime columns to timestamp
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [6]:
df.head(5)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-10-01 00:26:02,2019-10-01 00:39:58,N,1,112,196,1,5.88,18.0,0.50,0.5,0.00,0.0,NaN,0.3,19.30,2,1,0.0
1,1,2019-10-01 00:18:11,2019-10-01 00:22:38,N,1,43,263,1,0.80,5.0,3.25,0.5,0.00,0.0,NaN,0.3,9.05,2,1,0.0
2,1,2019-10-01 00:09:31,2019-10-01 00:24:47,N,1,255,228,2,7.50,21.5,0.50,0.5,0.00,0.0,NaN,0.3,22.80,2,1,0.0
3,1,2019-10-01 00:37:40,2019-10-01 00:41:49,N,1,181,181,1,0.90,5.5,0.50,0.5,0.00,0.0,NaN,0.3,6.80,2,1,0.0
4,2,2019-10-01 00:08:13,2019-10-01 00:17:56,N,1,97,188,1,2.52,10.0,0.50,0.5,2.26,0.0,NaN,0.3,13.56,1,1,0.0

### Create connection to Postgres

In [7]:
from sqlalchemy import create_engine

engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [8]:
# Preview Schema
print(pd.io.sql.get_schema(df, name='green_taxi_data', con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

### Load data into Postgres

#### Load zone data

In [10]:
df_zones = pd.read_csv('downloads/taxi_zone_lookup.csv')

In [11]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265

#### Load Green Taxi Data

In [12]:
# Create table with no data
df.head(n=0).to_sql(name='green_taxi_data', con=engine, if_exists='replace')

# Iterate and load table
from time import time

# df_iter = pd.read_csv('green_tripdata_2019-10.csv', iterator=True, chunksize=100000)

# while True:
for df in pd.read_csv('downloads/green_tripdata_2019-10.csv', chunksize=100000):
    t_start = time()
    
    # df = next(df_iter)

    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

    df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk..., took %.3f second' % (t_end - t_start))

inserted another chunk..., took 7.197 second
inserted another chunk..., took 7.326 second
inserted another chunk..., took 7.382 second

/tmp/ipykernel_41460/2860147646.py:10: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  for df in pd.read_csv('downloads/green_tripdata_2019-10.csv', chunksize=100000):

inserted another chunk..., took 7.050 second
inserted another chunk..., took 4.643 second

### Review data

In [ ]:
# Question 3. Trip Segmentation Count
'''
During the period of October 1st 2019 (inclusive) and November 1st 2019 (exclusive), how many trips, respectively, happened:

Up to 1 mile
In between 1 (exclusive) and 3 miles (inclusive),
In between 3 (exclusive) and 7 miles (inclusive),
In between 7 (exclusive) and 10 miles (inclusive),
Over 10 miles
Answers:

104,802; 197,670; 110,612; 27,831; 35,281
104,802; 198,924; 109,603; 27,678; 35,189
104,793; 201,407; 110,612; 27,831; 35,281
104,793; 202,661; 109,603; 27,678; 35,189
104,838; 199,013; 109,645; 27,688; 35,202
'''

query = """
SELECT 
    COUNT(CASE WHEN (trip_distance <= 1) then 1 ELSE NULL END),
    COUNT(CASE WHEN ((trip_distance > 1) AND (trip_distance <=3)) then 1 ELSE NULL END),
    COUNT(CASE WHEN ((trip_distance > 3) AND (trip_distance <=7)) then 1 ELSE NULL END),
    COUNT(CASE WHEN ((trip_distance > 7) AND (trip_distance <=10)) then 1 ELSE NULL END),
    COUNT(CASE WHEN (trip_distance > 10) then 1 ELSE NULL END)
FROM 
    green_taxi_data
WHERE 
    CAST(lpep_dropoff_datetime AS DATE) >= '2019-10-01' AND CAST(lpep_dropoff_datetime AS DATE) < '2019-11-01'
"""

pd.read_sql(query, con=engine)

In [ ]:
# Question 4. Longest trip for each day
'''
Which was the pick up day with the longest trip distance? Use the pick up time for your calculations.
Tip: For every day, we only care about one single trip with the longest distance.

2019-10-11
2019-10-24
2019-10-26
2019-10-31
'''

query = """
SELECT lpep_pickup_datetime, trip_distance
FROM green_taxi_data
ORDER BY trip_distance DESC
LIMIT 5;
"""

pd.read_sql(query, con=engine)

In [ ]:
# Question 5. Three biggest pickup zones
'''
Which were the top pickup locations with over 13,000 in total_amount (across all trips) for 2019-10-18?
Consider only lpep_pickup_datetime when filtering by date.

East Harlem North, East Harlem South, Morningside Heights
East Harlem North, Morningside Heights
Morningside Heights, Astoria Park, East Harlem South
Bedford, East Harlem North, Astoria Park
'''

query = """
SELECT z."Zone", gtd."PULocationID", SUM(gtd.total_amount)
FROM green_taxi_data gtd, zones z
WHERE 1=1
    AND gtd."PULocationID" = z."LocationID"
    AND CAST(lpep_pickup_datetime AS DATE) = '2019-10-18'
GROUP BY 1, 2
HAVING SUM(gtd.total_amount) > 13000
ORDER BY 3 DESC
"""

pd.read_sql(query, con=engine)

In [ ]:
# Question 6. Largest Tip
'''
For the passengers picked up in October 2019 in the zone named "East Harlem North" which was the drop off zone that had the largest tip?
Note: it's tip , not trip
We need the name of the zone, not the ID.

Yorkville West
JFK Airport
East Harlem North
East Harlem South
''' 

query = """
SELECT 
    puz."Zone" as pu_zone,
    doz."Zone" as do_zone,
    MAX(gtd.tip_amount) as max_tip
FROM
    green_taxi_data gtd,
    zones puz,
    zones doz
WHERE 
    1=1 
    AND gtd."PULocationID" = puz."LocationID"
    AND gtd."DOLocationID" = doz."LocationID"
    AND gtd."PULocationID" = 74
    AND CAST(gtd.lpep_pickup_datetime AS DATE) >= '2019-10-01' AND CAST(gtd.lpep_pickup_datetime AS DATE) < '2019-11-01'
GROUP BY 2, 1
ORDER BY 3 DESC
LIMIT 5
"""

pd.read_sql(query, con=engine)