### Data Download
Download and unzip green trip data for 2019-10

In [1]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-10.csv.gz
!gzip -d green_tripdata_2019-10.csv.gz
!mv green_tripdata_2019-10.csv downloads/green_tripdata_2019-10.csv

--2025-01-27 10:14:39--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-10.csv.gz
Resolving github.com (github.com)... 140.82.114.4
connected. to github.com (github.com)|140.82.114.4|:443...
302 Foundest sent, awaiting response...
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/ea580e9e-555c-4bd0-ae73-43051d8e7c0b?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20250127%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250127T151439Z&X-Amz-Expires=300&X-Amz-Signature=3fee47b9e42e6a5a1dcbb353e4b13a4a1ccd94b8cec48e941c570303dad28c7f&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream [following]
--2025-01-27 10:14:39--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/ea580e9e-555c-4bd0-ae73-43051d8e7c0b?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20250127%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250127T151439Z&X-Amz-Expires=300&X-Amz-Signature=3fee47b9e42e6a5a1dcbb353e4b13a4a1ccd94b8cec48e941c570303dad28c7f&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream
185.199.110.133, 185.199.109.133, 185.199.108.133, ...busercontent.com)...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.110.133|:443... connected.
200 OKequest sent, awaiting response...
Length: 8262584 (7.9M) [application/octet-stream]
Saving to: ‘green_tripdata_2019-10.csv.gz’

green_tripdata_2019 100%[===================>]   7.88M  29.4MB/s    in 0.3s

2025-01-27 10:14:39 (29.4 MB/s) - ‘green_tripdata_2019-10.csv.gz’ saved [8262584/8262584]

In [36]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv
!mv taxi_zone_lookup.csv downloads/taxi_zone_lookup.csv

--2025-01-27 11:08:36--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv
Resolving github.com (github.com)... 140.82.112.3
connected. to github.com (github.com)|140.82.112.3|:443...
302 Foundest sent, awaiting response...
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20250127%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250127T160837Z&X-Amz-Expires=300&X-Amz-Signature=e9368b96a4cc7716ce99d35905e54d447e5654bc568a645607e3a5200aadce41&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream [following]
--2025-01-27 11:08:36--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20250127%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250127T160837Z&X-Amz-Expires=300&X-Amz-Signature=e9368b96a4cc7716ce99d35905e54d447e5654bc568a645607e3a5200aadce41&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream
185.199.108.133, 185.199.110.133, 185.199.111.133, ...busercontent.com)...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi_zone_lookup.csv’

taxi_zone_lookup.cs 100%[===================>]  12.03K  --.-KB/s    in 0s

2025-01-27 11:08:37 (84.7 MB/s) - ‘taxi_zone_lookup.csv’ saved [12322/12322]

### Preview Data

In [1]:
import pandas as pd

In [2]:
 df = pd.read_csv('green_tripdata_2019-10.csv', nrows=100)

In [3]:
# Convert datetime columns to timestamp
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [4]:
df.head(5)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-10-01 00:26:02,2019-10-01 00:39:58,N,1,112,196,1,5.88,18.0,0.50,0.5,0.00,0.0,NaN,0.3,19.30,2,1,0.0
1,1,2019-10-01 00:18:11,2019-10-01 00:22:38,N,1,43,263,1,0.80,5.0,3.25,0.5,0.00,0.0,NaN,0.3,9.05,2,1,0.0
2,1,2019-10-01 00:09:31,2019-10-01 00:24:47,N,1,255,228,2,7.50,21.5,0.50,0.5,0.00,0.0,NaN,0.3,22.80,2,1,0.0
3,1,2019-10-01 00:37:40,2019-10-01 00:41:49,N,1,181,181,1,0.90,5.5,0.50,0.5,0.00,0.0,NaN,0.3,6.80,2,1,0.0
4,2,2019-10-01 00:08:13,2019-10-01 00:17:56,N,1,97,188,1,2.52,10.0,0.50,0.5,2.26,0.0,NaN,0.3,13.56,1,1,0.0

### Create connection to Postgres

In [5]:
from sqlalchemy import create_engine

engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [6]:
# Preview Schema
print(pd.io.sql.get_schema(df, name='green_taxi_data', con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

### Load data into Postgres

#### Load zone data

In [137]:
df_zones = pd.read_csv('taxi_zone_lookup.csv')

In [138]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265

#### Load Green Taxi Data

In [2]:
# Create table with no data
df.head(n=0).to_sql(name='green_taxi_data', con=engine, if_exists='replace')

# Iterate and load table
from time import time

# df_iter = pd.read_csv('green_tripdata_2019-10.csv', iterator=True, chunksize=100000)

# while True:
for df in pd.read_csv('green_tripdata_2019-10.csv', chunksize=100000):
    t_start = time()
    
    # df = next(df_iter)

    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

    df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk..., took %.3f second' % (t_end - t_start))

NameError: name 'df' is not defined

### Review data

In [86]:
# Question 3. Trip Segmentation Count
'''
During the period of October 1st 2019 (inclusive) and November 1st 2019 (exclusive), how many trips, respectively, happened:

Up to 1 mile
In between 1 (exclusive) and 3 miles (inclusive),
In between 3 (exclusive) and 7 miles (inclusive),
In between 7 (exclusive) and 10 miles (inclusive),
Over 10 miles
Answers:

104,802; 197,670; 110,612; 27,831; 35,281
104,802; 198,924; 109,603; 27,678; 35,189
104,793; 201,407; 110,612; 27,831; 35,281
104,793; 202,661; 109,603; 27,678; 35,189
104,838; 199,013; 109,645; 27,688; 35,202
'''

query = """
SELECT 
    COUNT(CASE WHEN (trip_distance <= 1) then 1 ELSE NULL END),
    COUNT(CASE WHEN ((trip_distance > 1) AND (trip_distance <=3)) then 1 ELSE NULL END),
    COUNT(CASE WHEN ((trip_distance > 3) AND (trip_distance <=7)) then 1 ELSE NULL END),
    COUNT(CASE WHEN ((trip_distance > 7) AND (trip_distance <=10)) then 1 ELSE NULL END),
    COUNT(CASE WHEN (trip_distance > 10) then 1 ELSE NULL END)
FROM 
    green_taxi_data
WHERE 
    CAST(lpep_dropoff_datetime AS DATE) >= '2019-10-01' AND CAST(lpep_dropoff_datetime AS DATE) < '2019-11-01'
"""

pd.read_sql(query, con=engine)

    count   count   count  count  count
0  104802  198924  109603  27678  35189

In [1]:
# Question 4. Longest trip for each day
'''
Which was the pick up day with the longest trip distance? Use the pick up time for your calculations.
Tip: For every day, we only care about one single trip with the longest distance.

2019-10-11
2019-10-24
2019-10-26
2019-10-31
'''

query = """
SELECT lpep_pickup_datetime, trip_distance
FROM green_taxi_data
ORDER BY trip_distance DESC
LIMIT 5;
"""

pd.read_sql(query, con=engine)

NameError: name 'pd' is not defined

In [113]:
# Question 5. Three biggest pickup zones
'''
Which were the top pickup locations with over 13,000 in total_amount (across all trips) for 2019-10-18?
Consider only lpep_pickup_datetime when filtering by date.

East Harlem North, East Harlem South, Morningside Heights
East Harlem North, Morningside Heights
Morningside Heights, Astoria Park, East Harlem South
Bedford, East Harlem North, Astoria Park
'''

query = """
SELECT z."Zone", gtd."PULocationID", SUM(gtd.total_amount)
FROM green_taxi_data gtd, zones z
WHERE 1=1
    AND gtd."PULocationID" = z."LocationID"
    AND CAST(lpep_pickup_datetime AS DATE) = '2019-10-18'
GROUP BY 1, 2
HAVING SUM(gtd.total_amount) > 13000
ORDER BY 3 DESC
"""

pd.read_sql(query, con=engine)

                  Zone  PULocationID       sum
0    East Harlem North            74  18686.68
1    East Harlem South            75  16797.26
2  Morningside Heights           166  13029.79

In [132]:
# Question 6. Largest Tip
'''
For the passengers picked up in October 2019 in the zone named "East Harlem North" which was the drop off zone that had the largest tip?
Note: it's tip , not trip
We need the name of the zone, not the ID.

Yorkville West
JFK Airport
East Harlem North
East Harlem South
''' 

query = """
SELECT 
    puz."Zone" as pu_zone,
    doz."Zone" as do_zone,
    MAX(gtd.tip_amount) as max_tip
FROM
    green_taxi_data gtd,
    zones puz,
    zones doz
WHERE 
    1=1 
    AND gtd."PULocationID" = puz."LocationID"
    AND gtd."DOLocationID" = doz."LocationID"
    AND gtd."PULocationID" = 74
    AND CAST(gtd.lpep_pickup_datetime AS DATE) >= '2019-10-01' AND CAST(gtd.lpep_pickup_datetime AS DATE) < '2019-11-01'
GROUP BY 2, 1
ORDER BY 3 DESC
LIMIT 5
"""

pd.read_sql(query, con=engine)

             pu_zone                do_zone  max_tip
0  East Harlem North            JFK Airport    87.30
1  East Harlem North         Yorkville West    80.88
2  East Harlem North      East Harlem North    40.00
3  East Harlem North         Newark Airport    26.45
4  East Harlem North  Upper East Side North    18.45